* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
}
.headerline {
    position: relative;
    display: flex;
    background-color: rgb(240, 240, 240);
    height: auto; /* Позволяет высоте подстраиваться */
    width: 100vw; /* Гарантирует, что не выйдет за пределы экрана */
    border-bottom: 2px rgb(226, 226, 226) solid;
    z-index: 1000;
    box-shadow: 5px 5px 15px rgb(189, 155, 221);
    flex-wrap: wrap; /* Разрешает перенос кнопок при необходимости */
    padding: 10px;
    justify-content: space-between; /* Пространство между элементами */
    align-items: center; /* Вертикальное выравнивание */
}
.headerline .mainbutton {
    position: absolute;
    height: 7vh;
    width: 10vw;
    max-height: 7vh;
    max-width: 10vw;
    z-index: 10002;
}
.mainbutton .mainlink img {
    height: 7vh;
    width: 10vw;
    max-height: 7vh;
    max-width: 10vw;
    z-index: 10001;

}
.headerline .other-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 7vh;
    gap: 100px;
    margin-bottom: 1vh;
    padding-right: 10px;
    z-index: 10001;
}
.other-buttons a {
    display: block; /* Делает ссылку блочной, чтобы она занимала всю ширину */
    padding: 10px 2%;
    color: rgb(122, 9, 187);
    width: 10vw;
    height: 3vh;
    max-width: 150px;
    min-width: 80px;
    text-align: center; /* Центрирование текста */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, scale 0.3s ease, color 0.3s ease;
    box-shadow: 5px 5px 15px rgb(189, 155, 221);
    text-decoration: none; /* Убирает подчеркивание */
    flex: 1 1 auto;
    white-space: nowrap;
    margin-right: 2vw;
}
.other-buttons a:hover {
    background-color: rgba(122, 9, 187, 0.5);
    color: rgb(240, 240, 240);
    scale: 1.05;
}


.other-buttons a.disabled {
    background-color: rgba(56, 5, 85, 0.5);
    color: rgb(240, 240, 240);
    scale: 0.95;
    cursor: default;
}

.hub {
    
}

.main-content {
    position: relative;
    margin-top: 25vh;
    margin-left: 10vh;
    height: 40vh;
    width: 80%; /* Ширина блока */
    max-width: 800px; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(189, 155, 221);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center;
    justify-content: space-between; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-content {
    position: relative;
    margin-top: 5vh;
    margin-left: 10vw;
    height: 75vh;
    width: 80vw; /* Ширина блока */
    max-width: 88vw; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(189, 155, 221);
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: start;
    justify-content: space-between; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-content .about-one {
    position: absolute;
    margin: 5vh;
    height: 65vh;
    width: 45%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(189, 155, 221);
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: start;
    justify-content: space-between; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}
.about-one.fullscreen {
    margin: 0;
    width: 100%; /* Ширина экрана */
    height: 100%; /* Высота экрана */
    position: absolute; /* Чтобы элемент занимал весь экран */
    z-index: 1000; /* Поверх остальных элементов */
    background-color: white; /* Цвет фона для полноэкранного режима */
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center;
    justify-content: space-between; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-one h1 {
    justify-content: center;
    align-self: center;
    text-align: center;
    color: rgb(90, 66, 196);
}
.about-content .about-two {
    position: absolute;
    margin: 5vh;
    height: 65vh;
    width: 45%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(189, 155, 221);
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center;
    justify-content: space-between; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    transition: all 0.5s ease-in-out;
    align-self: end;
}
.about-two.fullscreen {
    margin: 0;
    width: 100%; /* Ширина экрана */
    height: 100%; /* Высота экрана */
    position: absolute; /* Чтобы элемент занимал весь экран */
    z-index: 1000; /* Поверх остальных элементов */
    background-color: white; /* Цвет фона для полноэкранного режима */
}

.about-two h1 {
    align-self: center;
    text-align: center;
    color: rgb(90, 66, 196);
}

.about-two.fullscreen img {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 100%; /* Ширина экрана */
    height: 100%; /* Высота экрана */
    opacity: 0;
    position: absolute; /* Чтобы элемент занимал весь экран */
    z-index: 0; /* Поверх остальных элементов */
    background-color: white; /* Цвет фона для полноэкранного режима */
}

.about-two.fullscreen img,
.about-two.fullscreen p {
    font-size: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out
}

.about-one-button {
    position: absolute;
    height: 65vh;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center;
    justify-content: center; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(90, 66, 196, 1);
    transition: opacity 1s, color 1s;
    font-size: 24px;
    z-index:5;
}


.about-one img {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    height: 65vh;
    border-radius: 50px;
    width: 100%;
    z-index: 3;
    opacity : 1;
    visibility: visible;
}
.about-one.fullscreen img {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 100%; /* Ширина экрана */
    height: 100%; /* Высота экрана */
    opacity: 0;
    position: absolute; /* Чтобы элемент занимал весь экран */
    z-index: 0; /* Поверх остальных элементов */
    background-color: white; /* Цвет фона для полноэкранного режима */
}
.about-one-button:hover {
    opacity: 0%;
    color: rgba(0, 0, 0, 0);
}
.about-two-button {
    position: absolute;
    height: 65vh;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center;
    justify-content: center; /* Пространство между элементами */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: rgba(90, 66, 196, 1);
    transition: opacity 1s, color 1s;
    font-size: 24px;
    z-index: 5;

}
.about-two img {
    position: absolute;
    height: 65vh;
    border-radius: 50px;
    width: 100%;
    z-index: 3;
}
.about-two-button:hover {
    opacity: 0%;
    color: rgba(0, 0, 0, 0);
}

.about-one p {
    position: absolute;
    z-index: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 48px;
    color: rgb(240, 240, 240);
    align-self: center;
    margin-top: 70%;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.about-one.fullscreen p {
    font-size: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out
}
.about-two p {
    position: absolute;
    z-index: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 48px;
    color: rgb(240, 240, 240);
    align-self: center;
    margin-top: 70%;
}

.get-started {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(1vh, auto);
    gap: 10px;
}
.get-started h1 {
    font-size: 28px;
    font-weight: bolder;
    color: rgb(122, 9, 187);
    margin-bottom: 1vh;
}
.get-started p {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: rgb(90, 66, 196);
    margin-bottom: 1vh;
}
.get-started .p2 {
    font-size: 20px;
    font-weight: normal;
    color: rgb(90, 66, 196);
    text-decoration: underline;
}
.get-started-button {
    position: absolute;
    width: 80vw; /* Кнопка будет занимать всю ширину */
    margin-top: 35vh; /* Прижимает кнопку к низу родителя */
    max-width: 800px;
    min-width: 300px;
}

.get-started-button a {
    display: block; /* Делает ссылку блочной, чтобы она занимала всю ширину */
    padding: 10px 20px;
    background: linear-gradient(90deg,  #e73c7e, #23a6d5, #e73c7e);
    background-size: 400% 400%;
    color: #fff;
    text-align: center; /* Центрирование текста */
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Убирает подчеркивание */
    box-shadow: 5px 5px 15px rgb(189, 155, 221);
    transition: scale 0.3s;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.get-started-button a {
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
}
.get-started-button a:hover {
    scale: 1.01;
}

/* Анимация появления границы при наведении */


.footerline {
    position: fixed;
    display: grid;
    background-color: rgb(240, 240, 240);
    height: 5vh;
    width: 100vw;
    border-top: 3px rgb(226, 226, 226) solid;
    margin-top: 95vh;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10vw;

    
}
.footerline .gr1 {

}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Лоадер поверх всего */
    visibility: visible; /* Видимость по умолчанию */
    opacity: 1; /* Начальная прозрачность */
    transition: opacity 1s ease, visibility 1s ease; /* Плавное исчезновение */
}

.spinner {
    border: 8px solid #f3f3f3; /* Светлый цвет фона */
    border-top: 8px solid #ff85ef; /* Синий цвет для части круга */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Круговое вращение */
}

/* Анимация вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Скрытие лоадера после загрузки страницы */
.loader.hidden {
    visibility: hidden;
    opacity: 0;
}



.update-content{
    position: relative;
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    height: 65vh;
    width: 87%; 
    min-width: 300px;  
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(189, 155, 221);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    justify-content: space-between; /* Пространство между элементами */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.block::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    
  }
  
  /* Уменьшаем размер ползунка (thumb) */
.block::-webkit-scrollbar-thumb {
    background-color: rgb(189, 155, 221); /* Цвет ползунка */
    border-radius: 4px; /* Закругленные углы */
    transform: translateX(-10px);/* Уменьшаем высоту ползунка */
  }
  
  /* Стили для фона скроллбара */
.block::-webkit-scrollbar-track {
    background-color: #fff; /* Цвет трека (фона) скроллбара */
  }
.block{
    display: grid;
    width: 92%;
    height: 100%;
    
    padding-left: 5vw;
    
    padding-top: 10px;
    
    gap: 5vh;
    padding-bottom: 10px;
    overflow-y: auto;
    
    
    
}
.block-1{
    border: 2px solid rgb(245, 242, 242);
    box-shadow: 2px 2px 10px rgb(174, 174, 174)  ;
    border-radius: 20px;
    width: 95%;
    height: 25vh;
   
}
.block-2{
 border: 2px solid rgb(245, 242, 242);
    box-shadow: 2px 2px 10px rgb(174, 174, 174)  ;
    border-radius: 20px;
    width: 95%;
    height: 25vh;
   
}
.block-3{
    border: 2px solid rgb(245, 242, 242);
    box-shadow: 2px 2px 10px rgb(174, 174, 174)  ;
    border-radius: 20px;
    width: 95%;
    height: 25vh;
}
.block-4{
    border: 2px solid rgb(245, 242, 242);
    box-shadow: 2px 2px 10px rgb(174, 174, 174)  ;
    border-radius: 20px;
    width: 95%;
    height: 25vh;
}
.blockinf{
    display: grid;
    grid-template-columns: repeat(2, 30% 69%);
    height: 5vh;
    
    /* border: 2px solid rgb(245, 242, 242);
    box-shadow: 2px 2px 16px rgb(174, 174, 174)  ; */

    margin: 1vh;
    gap: 1vh;
}
.infdate{
    border: 2px solid rgb(245, 242, 242);
    box-shadow: 1px 1px 160px rgb(250, 238, 238)  ;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 1vh;
}
.inftext{
    border: 2px solid rgb(245, 242, 242);
    box-shadow: 1px 1px 160px rgb(250, 238, 238)  ;
    border-radius: 5px;
    padding-left: 10px;
    align-items: center;
    text-align: center;
    padding: 1vh;
    
}

/* Extra small (меньше 576px) */
@media (max-width: 575.98px) {
    .headerline {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    .headerline .mainbutton img {
        height: 0px;
        width: 0px;
    }

    .headerline .other-buttons {
        flex-wrap: wrap; /* Разрешаем перенос кнопок */
        gap: 10px; /* Уменьшаем расстояние между кнопками */
        justify-content: center; /* Центрируем кнопки */
    }

    .other-buttons a {
        padding: 8px 5%;
        font-size: 0.85rem;
    }
    .main-content {
        margin: 5vh auto;
        width: 90%;
        padding: 15px;
    }

    .get-started h1 {
        font-size: 22px;
    }

    .get-started p {
        font-size: 14px;
    }

    .get-started-button a {
        font-size: 14px;
        padding: 10px;
    }

    .footerline {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }
    .infdate p {
        font-size: 15px;
        padding-top: 5px;
        
    }
    .inftext p {
        font-size: 15px;
        padding-top: 5px;
    
    }
    .update-content{
        left: -12vw;
        
    }
    .block{
       
       grid-template-columns: repeat(1,1fr);
    }
    .about-content {
        margin-left: 10vw;
        width: 80vw;
    }
    .about-content .about-one {
        width: 30vw;
    }
    .about-content .about-two {
        width: 30vw;
    }
}

/* Small (576px и больше) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .headerline .mainbutton img {
        height: 0px;
        width: 0px;
    }

    .headerline .other-buttons {
        gap: 15px;
        justify-content: center;
    }

    .other-buttons a {
        padding: 10px 4%;
        font-size: 0.9rem;
    }

    
    .main-content {
        width: 85%;
    }

    .get-started h1 {
        font-size: 24px;
    }

    .get-started p {
        font-size: 16px;
    }

    .get-started-button a {
        font-size: 15px;
    }

    .footerline {
        grid-template-columns: repeat(2, 1fr);
    }
    .block{
        grid-template-columns: repeat(1,1fr);
    }
    .update-content{
        left: -7vw;
    }
    .about-content {
        margin-left: 10vw;
        width: 80vw;
    }
    .about-content .about-one {
        width: 30vw;
    }
    .about-content .about-two {
        width: 30vw;
    }
}

/* Medium (768px и больше) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .headerline .other-buttons {
        gap: 20px;
    }

    .other-buttons a {
        padding: 12px 5%;
        font-size: 1rem;
    }

    .main-content {
        width: 80%;
    }

    .get-started h1 {
        font-size: 26px;
    }

    .get-started p {
        font-size: 18px;
    }

    .get-started-button a {
        font-size: 16px;
    }

    .footerline {
        grid-template-columns: repeat(3, 1fr);
    }
    .block{
        grid-template-columns: repeat(1,1fr);
        margin-left:   10px;
    }
    .update-content{
        left: -4vw;}
    .about-content {
        margin-left: 10vw;
        width: 70vw;
    }
    .about-content .about-one {
        width: 28vw;
    }
    .about-content .about-two {
        width: 28vw;
    }
}

/* Large (992px и больше) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .headerline .other-buttons {
        gap: 25px;
    }

    .other-buttons a {
        padding: 14px 6%;
        font-size: 1.1rem;
    }

    .main-content {
        width: 75%;
    }

    .get-started h1 {
        font-size: 28px;
    }

    .get-started p {
        font-size: 18px;
    }

    .get-started-button a {
        font-size: 16px;
    }

    .footerline {
        grid-template-columns: repeat(4, 1fr);
    }
    .update-content{
        margin-right: 10vh;
    }
    .block{
        grid-template-columns: repeat(2,1fr);
    }
    .about-content {
        margin-left: 10vw;
        width: 70vw;
    }
    .about-content .about-one {
        width: 30vw;
    }
    .about-content .about-two {
        width: 30vw;
    }
    
}

/* Extra large (1200px и больше) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    .other-buttons a {
        padding: 15px 7%;
        font-size: 1.2rem;
    }

    .main-content {
        width: 70%;
    }

    .get-started h1 {
        font-size: 30px;
    }

    .get-started p {
        font-size: 20px;
    }

    .get-started-button a {
        font-size: 18px;
    }
    .block{
        grid-template-columns: repeat(2,1fr);
    }
    .about-content {
        margin-left: 10vw;
        width: 80vw;
    }
    .about-content .about-one {
        width: 35vw;
    }
    .about-content .about-two {
        width: 35vw;
    }
}

/* Extra extra large (1400px и больше) */
@media (min-width: 1400px) {

    .other-buttons a {
        padding: 16px 8%;
        font-size: 1.3rem;
    }

    .main-content {
        width: 65%;
    }

    .get-started h1 {
        font-size: 32px;
    }

    .get-started p {
        font-size: 20px;
    }

    .get-started-button a {
        font-size: 18px;
    }
    .block{
        grid-template-columns: repeat(2,1fr);
    }
    .about-content {
        margin-left: 10vw;
        width: 80vw;
    }

    .about-content .about-one {

    }
    .about-content .about-two {

    }
}

